## Import Dependencies

In [13]:
import pandas as pd
import numpy as np


from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split, RandomizedSearchCV, GridSearchCV
from sklearn.metrics import confusion_matrix, classification_report


from sqlalchemy import create_engine
from datetime import datetime
from urllib.parse import quote_plus
import os
from dotenv import load_dotenv

In [14]:

load_dotenv()

SQLALCHEMY_DATABASE_URL = os.getenv("DATABASE_URL")
engine = create_engine(SQLALCHEMY_DATABASE_URL)

In [15]:
chapters_df = pd.read_sql("""
    SELECT 
        id AS chapter_id,
        chapter_title AS chapter_name,
        course_id,
        owner_id AS user_id
    FROM chapters
""", engine)

chapters_df

    chapter_id                                chapter_name  course_id  user_id
0            1       Chapter 1: Introduction to Statistics          1        1
1            2                               Types of Data          1        1
2            3                Measures of Central Tendency          1        1
3            4                      Measures of Dispersion          1        1
4            5                          Probability Basics          1        1
5            6                     Conditional Probability          1        1
6            7                            Random Variables          1        1
7            8                   Probability Distributions          1        1
8            9                         Sampling Techniques          1        1
9           10                    Statistical Applications          1        1
10          11                 Physical Quantities & Units          2        1
11          12                     Motion in One Dimension          2        1
12          13                    Motion in Two Dimensions          2        1
13          14                              Laws of Motion          2        1
14          15                        Work, Energy & Power          2        1
15          16                              Center of Mass          2        1
16          17                           Rotational Motion          2        1
17          18                                 Gravitation          2        1
18          19                                Oscillations          2        1
19          20                                       Waves          2        1
20          21                         Introduction to DSA          4        1
21          22                     Time & Space Complexity          4        1
22          23                                      Arrays          4        1
23          24                                     Strings          4        1
24          27                                      Queues          4        1
25          28                                       Trees          4        1
26          29                                      Graphs          4        1
27          30                          Sorting Algorithms          4        1
28          31                        Introduction to DBMS          5        1
29          32                                 Data Models          5        1
30          33                          Relational Algebra          5        1
31          34                                  SQL Basics          5        1
32          35                                Advanced SQL          5        1
33          36                               Normalization          5        1
34          37                     Functional Dependencies          5        1
35          38                                Transactions          5        1
36          39                                    Indexing          5        1
37          40                           Database Security          5        1
38          41                             Parts of Speech          3        1
39          50           Essay Writing & Critical Thinking          3        1
40          43                          Sentence Structure          3        1
41          44                      Active & Passive Voice          3        1
42          42                                      Tenses          3        1
43          45                    Direct & Indirect Speech          3        1
44          46                      Vocabulary Development          3        1
45          47                       Reading Comprehension          3        1
46          48             Academic & Professional Writing          3        1
47          49  Interpersonal & Professional Communication          3        1
48          51                                Linked Lists          4        1
49          52                                      Stacks          4        1

In [16]:
time_df = pd.read_sql("""
    SELECT
        chapter_id,
        owner_id AS user_id,
        SUM(CASE WHEN activity_type = 'view_content' THEN duration_seconds ELSE 0 END) AS view_content,
        SUM(CASE WHEN activity_type = 'summary' THEN duration_seconds ELSE 0 END) AS time_summary,
        SUM(CASE WHEN activity_type = 'ask_question' THEN duration_seconds ELSE 0 END) AS time_ask,
        SUM(CASE WHEN activity_type = 'mcq' THEN duration_seconds ELSE 0 END) AS time_mcq,
        MAX(session_end) AS last_activity
    FROM learning_sessions
    WHERE is_valid = True
    GROUP BY chapter_id, owner_id
""", engine)

time_df

,chapter_id,user_id,view_content,time_summary,time_ask,time_mcq,last_activity
0,28,1,2325,0,0,0,2026-01-05 10:09:47+00:00
1,27,1,0,1872,0,2264,2026-01-05 10:02:06+00:00
2,50,1,2358,0,0,0,2026-01-09 17:41:46+00:00
3,21,1,0,2353,0,1978,2026-01-05 09:43:54+00:00
4,31,1,0,2429,0,2220,2026-01-05 15:35:20+00:00
5,48,1,0,2258,0,2238,2026-01-09 18:17:21+00:00
6,1,1,0,2124,0,2454,2026-01-07 17:35:59+00:00
7,32,1,2331,0,0,0,2026-01-05 15:41:10+00:00
8,51,1,0,2509,0,2294,2026-01-05 10:24:59+00:00
9,9,1,0,2203,0,2516,2026-01-07 18:18:21+00:00
10,38,1,2279,0,0,0,2026-01-05 16:10:16+00:00
11,34,1,2494,0,0,0,2026-01-05 15:53:52+00:00
12,33,1,0,2033,0,2399,2026-01-05 15:46:03+00:00
13,44,1,2163,0,0,0,2026-01-09 17:52:02+00:00
14,14,1,2388,0,0,0,2026-01-08 17:51:19+00:00
15,11,1,0,2043,0,2483,2026-01-08 17:35:24+00:00
16,5,1,0,2417,0,2218,2026-01-07 17:58:51+00:00
17,43,1,0,2239,0,2134,2026-01-09 17:48:27+00:00
18,39,1,0,2317,0,2266,2026-01-05 16:19:14+00:00
19,23,1,0,2044,0,2258,2026-01-05 09:52:15+00:00
20,16,1,2328,0,0,0,2026-01-08 18:04:56+00:00
21,45,1,2421,0,0,0,2026-01-09 18:02:04+00:00
22,2,1,2343,0,0,0,2026-01-07 17:44:38+00:00
23,47,1,2014,0,0,0,2026-01-09 18:13:18+00:00
24,10,1,2024,0,0,0,2026-01-07 18:21:02+00:00
25,41,1,0,2192,0,2152,2026-01-09 17:37:39+00:00
26,6,1,2450,0,0,0,2026-01-07 18:04:10+00:00
27,36,1,2307,0,0,0,2026-01-05 16:01:38+00:00
28,4,1,2288,0,0,0,2026-01-07 17:54:38+00:00
29,24,1,2174,0,0,0,2026-01-05 09:56:11+00:00
30,13,1,0,2322,0,2119,2026-01-08 17:46:57+00:00
31,12,1,2011,0,0,0,2026-01-08 17:40:22+00:00
32,17,1,0,2409,0,2490,2026-01-08 18:07:31+00:00
33,18,1,1891,0,0,0,2026-01-08 18:11:25+00:00
34,22,1,2019,0,0,0,2026-01-05 09:46:13+00:00
35,29,1,0,2188,0,2115,2026-01-05 10:14:35+00:00
36,46,1,0,2365,0,2101,2026-01-09 18:06:04+00:00
37,37,1,0,2124,0,2505,2026-01-05 16:05:30+00:00
38,49,1,2237,0,0,0,2026-01-09 18:23:26+00:00
39,8,1,2104,0,0,0,2026-01-07 18:13:51+00:00
40,35,1,0,2006,0,2268,2026-01-05 15:56:15+00:00
41,30,1,2333,0,0,0,2026-01-05 10:17:14+00:00
42,7,1,0,2186,0,1972,2026-01-07 18:08:35+00:00
43,40,1,1986,0,0,0,2026-01-05 16:21:00+00:00
44,3,1,0,2288,0,2125,2026-01-07 17:49:41+00:00
45,42,1,0,2147,0,1916,2026-01-09 17:58:26+00:00
46,20,1,2429,0,0,0,2026-01-08 18:23:07+00:00
47,19,1,0,2193,0,2338,2026-01-08 18:19:12+00:00
48,15,1,0,2506,0,2200,2026-01-08 17:58:38+00:00
49,52,1,2268,0,0,0,2026-01-05 10:28:39+00:00

In [17]:
mcq_df = pd.read_sql("""
    SELECT
        chapter_id,
        owner_id AS user_id,
        COUNT(*) AS mcq_attempts,
        AVG(score_percentage) AS mcq_avg_score,
        MAX(attempted_at) AS last_mcq_attempt
    FROM mcq_attempts
    GROUP BY chapter_id, owner_id
""", engine)

mcq_df

    chapter_id  user_id  mcq_attempts  mcq_avg_score          last_mcq_attempt
0           28        1             5           92.0 2026-01-05 18:30:00+00:00
1           27        1             5           72.0 2026-01-05 19:00:00+00:00
2           50        1             5           84.0 2026-01-10 03:05:00+00:00
3           21        1             5           72.0 2026-01-05 16:00:00+00:00
4           31        1             5           76.0 2026-01-05 22:40:00+00:00
5           48        1             5           80.0 2026-01-10 01:12:00+00:00
6           32        1             5           84.0 2026-01-05 20:59:00+00:00
7            1        1             5           88.0 2026-01-07 22:40:00+00:00
8           51        1             5           80.0 2026-01-05 21:00:00+00:00
9            9        1             5           68.0 2026-01-08 01:12:00+00:00
10          38        1             5           80.0 2026-01-05 22:53:00+00:00
11          34        1             5           88.0 2026-01-05 23:03:00+00:00
12          33        1             5           72.0 2026-01-05 19:44:00+00:00
13          44        1             5           96.0 2026-01-09 23:45:00+00:00
14          14        1             5           84.0 2026-01-08 22:06:00+00:00
15          11        1             5           84.0 2026-01-08 22:00:00+00:00
16           5        1             5           72.0 2026-01-07 21:00:00+00:00
17          43        1             5           76.0 2026-01-10 02:06:00+00:00
18          39        1             5           76.0 2026-01-06 00:00:00+00:00
19          23        1             5           96.0 2026-01-05 15:18:00+00:00
20          16        1             5           88.0 2026-01-09 00:15:00+00:00
21          45        1             5          100.0 2026-01-10 00:00:00+00:00
22           2        1             5           96.0 2026-01-08 01:43:00+00:00
23          47        1             5           88.0 2026-01-09 23:19:00+00:00
24          10        1             5           72.0 2026-01-08 04:47:00+00:00
25          41        1             5           72.0 2026-01-10 00:00:00+00:00
26           6        1             5           92.0 2026-01-07 22:45:00+00:00
27          36        1             5           72.0 2026-01-06 02:45:00+00:00
28           4        1             5           76.0 2026-01-07 22:11:00+00:00
29          24        1             5           84.0 2026-01-05 19:55:00+00:00
30          13        1             5           76.0 2026-01-09 01:24:00+00:00
31          12        1             5           76.0 2026-01-09 02:24:00+00:00
32          17        1             5           76.0 2026-01-09 05:10:00+00:00
33          18        1             5           72.0 2026-01-09 04:48:00+00:00
34          22        1             5           88.0 2026-01-05 14:18:00+00:00
35          29        1             5           88.0 2026-01-05 18:12:00+00:00
36          46        1             5           68.0 2026-01-10 01:20:00+00:00
37          37        1             5           72.0 2026-01-06 02:24:00+00:00
38          49        1             5           84.0 2026-01-10 01:36:00+00:00
39           8        1             5           92.0 2026-01-07 21:45:00+00:00
40          35        1             5           56.0 2026-01-06 02:20:00+00:00
41          30        1             5           84.0 2026-01-05 15:19:00+00:00
42           7        1             5           68.0 2026-01-08 00:34:00+00:00
43          40        1             5           92.0 2026-01-06 00:20:00+00:00
44           3        1             5           80.0 2026-01-07 23:20:00+00:00
45          42        1             5           92.0 2026-01-10 04:20:00+00:00
46          20        1             5           92.0 2026-01-08 23:53:00+00:00
47          19        1             5           68.0 2026-01-09 05:12:00+00:00
48          15        1             5           76.0 2026-01-08 21:44:00+00:00
49          52        1             5           56.0 2026-01-06 02:30:00+00:00

In [18]:
df = chapters_df \
    .merge(time_df, on=["chapter_id", "user_id"], how="left") \
    .merge(mcq_df, on=["chapter_id", "user_id"], how="left")

In [19]:
df.fillna({
    "view_content":0,
    "time_summary": 0,
    "time_ask": 0,
    "time_mcq": 0,
    "mcq_attempts": 0,
    "mcq_avg_score": 0
}, inplace=True)

In [23]:
df["total_time"] = df["time_summary"] + df["time_ask"] + df["time_mcq"] + df["view_content"]

df["score_efficiency"] = df["mcq_avg_score"] / (df["total_time"] + 1)

In [25]:
# Create final dataframe with selected columns
# Use .copy() to avoid SettingWithCopyWarning when modifying later
final_df = df[[
    "user_id",
    "course_id",
    "chapter_id",
    "chapter_name",
    "view_content",
    "time_summary",
    "time_ask",
    "time_mcq",
    "total_time",
    "mcq_attempts",
    "mcq_avg_score",
    "score_efficiency",
]].copy()

final_df

,user_id,course_id,chapter_id,chapter_name,view_content,time_summary,time_ask,time_mcq,total_time,mcq_attempts,mcq_avg_score,score_efficiency
0,1,1,1,Chapter 1: Introduction to Statistics,0,2124,0,2454,4578,5,88.0,0.019218
1,1,1,2,Types of Data,2343,0,0,0,2343,5,96.0,0.040956
2,1,1,3,Measures of Central Tendency,0,2288,0,2125,4413,5,80.0,0.018124
3,1,1,4,Measures of Dispersion,2288,0,0,0,2288,5,76.0,0.033202
4,1,1,5,Probability Basics,0,2417,0,2218,4635,5,72.0,0.015531
5,1,1,6,Conditional Probability,2450,0,0,0,2450,5,92.0,0.037536
6,1,1,7,Random Variables,0,2186,0,1972,4158,5,68.0,0.016350
7,1,1,8,Probability Distributions,2104,0,0,0,2104,5,92.0,0.043705
8,1,1,9,Sampling Techniques,0,2203,0,2516,4719,5,68.0,0.014407
9,1,1,10,Statistical Applications,2024,0,0,0,2024,5,72.0,0.035556
10,1,2,11,Physical Quantities & Units,0,2043,0,2483,4526,5,84.0,0.018555
11,1,2,12,Motion in One Dimension,2011,0,0,0,2011,5,76.0,0.037773
12,1,2,13,Motion in Two Dimensions,0,2322,0,2119,4441,5,76.0,0.017109
13,1,2,14,Laws of Motion,2388,0,0,0,2388,5,84.0,0.035161
14,1,2,15,"Work, Energy & Power",0,2506,0,2200,4706,5,76.0,0.016146
15,1,2,16,Center of Mass,2328,0,0,0,2328,5,88.0,0.037784
16,1,2,17,Rotational Motion,0,2409,0,2490,4899,5,76.0,0.015510
17,1,2,18,Gravitation,1891,0,0,0,1891,5,72.0,0.038055
18,1,2,19,Oscillations,0,2193,0,2338,4531,5,68.0,0.015004
19,1,2,20,Waves,2429,0,0,0,2429,5,92.0,0.037860
20,1,4,21,Introduction to DSA,0,2353,0,1978,4331,5,72.0,0.016620
21,1,4,22,Time & Space Complexity,2019,0,0,0,2019,5,88.0,0.043564
22,1,4,23,Arrays,0,2044,0,2258,4302,5,96.0,0.022310
23,1,4,24,Strings,2174,0,0,0,2174,5,84.0,0.038621
24,1,4,27,Queues,0,1872,0,2264,4136,5,72.0,0.017404
25,1,4,28,Trees,2325,0,0,0,2325,5,92.0,0.039553
26,1,4,29,Graphs,0,2188,0,2115,4303,5,88.0,0.020446
27,1,4,30,Sorting Algorithms,2333,0,0,0,2333,5,84.0,0.035990
28,1,5,31,Introduction to DBMS,0,2429,0,2220,4649,5,76.0,0.016344
29,1,5,32,Data Models,2331,0,0,0,2331,5,84.0,0.036021
30,1,5,33,Relational Algebra,0,2033,0,2399,4432,5,72.0,0.016242
31,1,5,34,SQL Basics,2494,0,0,0,2494,5,88.0,0.035271
32,1,5,35,Advanced SQL,0,2006,0,2268,4274,5,56.0,0.013099
33,1,5,36,Normalization,2307,0,0,0,2307,5,72.0,0.031196
34,1,5,37,Functional Dependencies,0,2124,0,2505,4629,5,72.0,0.015551
35,1,5,38,Transactions,2279,0,0,0,2279,5,80.0,0.035088
36,1,5,39,Indexing,0,2317,0,2266,4583,5,76.0,0.016579
37,1,5,40,Database Security,1986,0,0,0,1986,5,92.0,0.046301
38,1,3,41,Parts of Speech,0,2192,0,2152,4344,5,72.0,0.016571
39,1,3,50,Essay Writing & Critical Thinking,2358,0,0,0,2358,5,84.0,0.035608
40,1,3,43,Sentence Structure,0,2239,0,2134,4373,5,76.0,0.017375
41,1,3,44,Active & Passive Voice,2163,0,0,0,2163,5,96.0,0.044362
42,1,3,42,Tenses,0,2147,0,1916,4063,5,92.0,0.022638
43,1,3,45,Direct & Indirect Speech,2421,0,0,0,2421,5,100.0,0.041288
44,1,3,46,Vocabulary Development,0,2365,0,2101,4466,5,68.0,0.015223
45,1,3,47,Reading Comprehension,2014,0,0,0,2014,5,88.0,0.043672
46,1,3,48,Academic & Professional Writing,0,2258,0,2238,4496,5,80.0,0.017790
47,1,3,49,Interpersonal & Professional Communication,2237,0,0,0,2237,5,84.0,0.037534
48,1,4,51,Linked Lists,0,2509,0,2294,4803,5,80.0,0.016653
49,1,4,52,Stacks,2268,0,0,0,2268,5,56.0,0.024680

In [26]:
final_df["needs_attention"] = (
    (final_df["mcq_avg_score"] < 60) |
    (final_df["inactive_days"] > 7)
).astype(int)

KeyError: 'inactive_days'

In [27]:
final_df['score_efficiency'] = final_df.pop('score_efficiency')

In [28]:
final_df

,user_id,course_id,chapter_id,chapter_name,view_content,time_summary,time_ask,time_mcq,total_time,mcq_attempts,mcq_avg_score,score_efficiency
0,1,1,1,Chapter 1: Introduction to Statistics,0,2124,0,2454,4578,5,88.0,0.019218
1,1,1,2,Types of Data,2343,0,0,0,2343,5,96.0,0.040956
2,1,1,3,Measures of Central Tendency,0,2288,0,2125,4413,5,80.0,0.018124
3,1,1,4,Measures of Dispersion,2288,0,0,0,2288,5,76.0,0.033202
4,1,1,5,Probability Basics,0,2417,0,2218,4635,5,72.0,0.015531
5,1,1,6,Conditional Probability,2450,0,0,0,2450,5,92.0,0.037536
6,1,1,7,Random Variables,0,2186,0,1972,4158,5,68.0,0.016350
7,1,1,8,Probability Distributions,2104,0,0,0,2104,5,92.0,0.043705
8,1,1,9,Sampling Techniques,0,2203,0,2516,4719,5,68.0,0.014407
9,1,1,10,Statistical Applications,2024,0,0,0,2024,5,72.0,0.035556
10,1,2,11,Physical Quantities & Units,0,2043,0,2483,4526,5,84.0,0.018555
11,1,2,12,Motion in One Dimension,2011,0,0,0,2011,5,76.0,0.037773
12,1,2,13,Motion in Two Dimensions,0,2322,0,2119,4441,5,76.0,0.017109
13,1,2,14,Laws of Motion,2388,0,0,0,2388,5,84.0,0.035161
14,1,2,15,"Work, Energy & Power",0,2506,0,2200,4706,5,76.0,0.016146
15,1,2,16,Center of Mass,2328,0,0,0,2328,5,88.0,0.037784
16,1,2,17,Rotational Motion,0,2409,0,2490,4899,5,76.0,0.015510
17,1,2,18,Gravitation,1891,0,0,0,1891,5,72.0,0.038055
18,1,2,19,Oscillations,0,2193,0,2338,4531,5,68.0,0.015004
19,1,2,20,Waves,2429,0,0,0,2429,5,92.0,0.037860
20,1,4,21,Introduction to DSA,0,2353,0,1978,4331,5,72.0,0.016620
21,1,4,22,Time & Space Complexity,2019,0,0,0,2019,5,88.0,0.043564
22,1,4,23,Arrays,0,2044,0,2258,4302,5,96.0,0.022310
23,1,4,24,Strings,2174,0,0,0,2174,5,84.0,0.038621
24,1,4,27,Queues,0,1872,0,2264,4136,5,72.0,0.017404
25,1,4,28,Trees,2325,0,0,0,2325,5,92.0,0.039553
26,1,4,29,Graphs,0,2188,0,2115,4303,5,88.0,0.020446
27,1,4,30,Sorting Algorithms,2333,0,0,0,2333,5,84.0,0.035990
28,1,5,31,Introduction to DBMS,0,2429,0,2220,4649,5,76.0,0.016344
29,1,5,32,Data Models,2331,0,0,0,2331,5,84.0,0.036021
30,1,5,33,Relational Algebra,0,2033,0,2399,4432,5,72.0,0.016242
31,1,5,34,SQL Basics,2494,0,0,0,2494,5,88.0,0.035271
32,1,5,35,Advanced SQL,0,2006,0,2268,4274,5,56.0,0.013099
33,1,5,36,Normalization,2307,0,0,0,2307,5,72.0,0.031196
34,1,5,37,Functional Dependencies,0,2124,0,2505,4629,5,72.0,0.015551
35,1,5,38,Transactions,2279,0,0,0,2279,5,80.0,0.035088
36,1,5,39,Indexing,0,2317,0,2266,4583,5,76.0,0.016579
37,1,5,40,Database Security,1986,0,0,0,1986,5,92.0,0.046301
38,1,3,41,Parts of Speech,0,2192,0,2152,4344,5,72.0,0.016571
39,1,3,50,Essay Writing & Critical Thinking,2358,0,0,0,2358,5,84.0,0.035608
40,1,3,43,Sentence Structure,0,2239,0,2134,4373,5,76.0,0.017375
41,1,3,44,Active & Passive Voice,2163,0,0,0,2163,5,96.0,0.044362
42,1,3,42,Tenses,0,2147,0,1916,4063,5,92.0,0.022638
43,1,3,45,Direct & Indirect Speech,2421,0,0,0,2421,5,100.0,0.041288
44,1,3,46,Vocabulary Development,0,2365,0,2101,4466,5,68.0,0.015223
45,1,3,47,Reading Comprehension,2014,0,0,0,2014,5,88.0,0.043672
46,1,3,48,Academic & Professional Writing,0,2258,0,2238,4496,5,80.0,0.017790
47,1,3,49,Interpersonal & Professional Communication,2237,0,0,0,2237,5,84.0,0.037534
48,1,4,51,Linked Lists,0,2509,0,2294,4803,5,80.0,0.016653
49,1,4,52,Stacks,2268,0,0,0,2268,5,56.0,0.024680

In [29]:
X = final_df.drop(columns=["user_id", "course_id", "chapter_id", "chapter_name", "score_efficiency" ], axis=1)
y = final_df['score_efficiency']

In [30]:
X

,view_content,time_summary,time_ask,time_mcq,total_time,mcq_attempts,mcq_avg_score
0,0,2124,0,2454,4578,5,88.0
1,2343,0,0,0,2343,5,96.0
2,0,2288,0,2125,4413,5,80.0
3,2288,0,0,0,2288,5,76.0
4,0,2417,0,2218,4635,5,72.0
5,2450,0,0,0,2450,5,92.0
6,0,2186,0,1972,4158,5,68.0
7,2104,0,0,0,2104,5,92.0
8,0,2203,0,2516,4719,5,68.0
9,2024,0,0,0,2024,5,72.0
10,0,2043,0,2483,4526,5,84.0
11,2011,0,0,0,2011,5,76.0
12,0,2322,0,2119,4441,5,76.0
13,2388,0,0,0,2388,5,84.0
14,0,2506,0,2200,4706,5,76.0
15,2328,0,0,0,2328,5,88.0
16,0,2409,0,2490,4899,5,76.0
17,1891,0,0,0,1891,5,72.0
18,0,2193,0,2338,4531,5,68.0
19,2429,0,0,0,2429,5,92.0
20,0,2353,0,1978,4331,5,72.0
21,2019,0,0,0,2019,5,88.0
22,0,2044,0,2258,4302,5,96.0
23,2174,0,0,0,2174,5,84.0
24,0,1872,0,2264,4136,5,72.0
25,2325,0,0,0,2325,5,92.0
26,0,2188,0,2115,4303,5,88.0
27,2333,0,0,0,2333,5,84.0
28,0,2429,0,2220,4649,5,76.0
29,2331,0,0,0,2331,5,84.0
30,0,2033,0,2399,4432,5,72.0
31,2494,0,0,0,2494,5,88.0
32,0,2006,0,2268,4274,5,56.0
33,2307,0,0,0,2307,5,72.0
34,0,2124,0,2505,4629,5,72.0
35,2279,0,0,0,2279,5,80.0
36,0,2317,0,2266,4583,5,76.0
37,1986,0,0,0,1986,5,92.0
38,0,2192,0,2152,4344,5,72.0
39,2358,0,0,0,2358,5,84.0
40,0,2239,0,2134,4373,5,76.0
41,2163,0,0,0,2163,5,96.0
42,0,2147,0,1916,4063,5,92.0
43,2421,0,0,0,2421,5,100.0
44,0,2365,0,2101,4466,5,68.0
45,2014,0,0,0,2014,5,88.0
46,0,2258,0,2238,4496,5,80.0
47,2237,0,0,0,2237,5,84.0
48,0,2509,0,2294,4803,5,80.0
49,2268,0,0,0,2268,5,56.0

In [31]:
y

0     0.019218
1     0.040956
2     0.018124
3     0.033202
4     0.015531
5     0.037536
6     0.016350
7     0.043705
8     0.014407
9     0.035556
10    0.018555
11    0.037773
12    0.017109
13    0.035161
14    0.016146
15    0.037784
16    0.015510
17    0.038055
18    0.015004
19    0.037860
20    0.016620
21    0.043564
22    0.022310
23    0.038621
24    0.017404
25    0.039553
26    0.020446
27    0.035990
28    0.016344
29    0.036021
30    0.016242
31    0.035271
32    0.013099
33    0.031196
34    0.015551
35    0.035088
36    0.016579
37    0.046301
38    0.016571
39    0.035608
40    0.017375
41    0.044362
42    0.022638
43    0.041288
44    0.015223
45    0.043672
46    0.017790
47    0.037534
48    0.016653
49    0.024680
Name: score_efficiency, dtype: float64

In [32]:
X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                    test_size=0.2)

In [33]:
np.random.seed(42)
model = RandomForestRegressor(random_state=42)
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.9925417793357336

In [34]:
model.predict(X_test)

array([0.01617815, 0.04210549, 0.01582531, 0.03907701, 0.034736  ,
       0.03617962, 0.01694324, 0.01719517, 0.03685855, 0.01592483])

In [35]:
y_test

36    0.016579
21    0.043564
34    0.015551
43    0.041288
35    0.035088
39    0.035608
38    0.016571
48    0.016653
17    0.038055
28    0.016344
Name: score_efficiency, dtype: float64